@model IEnumerable<Kütüphane.Models.YazarlarModel>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Create New", "EY")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YazarAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YazarAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.ActionLink("Edit", "EY", new { id=item.YazarNo }) |
               
                @Html.ActionLink("Delete", "Delete", new {  id=item.YazarNo })
            </td>
        </tr>
    }

</table>
